<h2>All Campers</h2>

<ul>
    <% @campers.each do |camper|%>
        <li>
        <%= link_to camper.name, camper_path(camper)%> <%=link_to "(Delete Camper)", camper_path(camper), method: "delete"%>
        </li>
        <%end%>
</ul>